# Flask framework for building web applications
Flask==3.0.3

# Flask-Cors for handling Cross-Origin Resource Sharing (CORS) in Flask
Flask-Cors==4.0.0

# LangChain and its core and OpenAI components for building language model applications
langchain==0.1.13
langchain-core==0.1.33
langchain-openai==0.1.1

# lxml-html-clean for sanitizing HTML content
lxml-html-clean==0.1.1

# Python-dotenv for reading environment variables from .env files
python-dotenv==1.0.1

# tiktoken for tokenizing text for use with language models
tiktoken==0.7.0

google-cloud-bigquery==3.17.2